!!!5
%head
  %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %a{:href => "/", :class => "brand"} Listmash
        .nav-collapse.collapse
          %ul.nav
            %li
              %a{:href => "/ratings"} Ratings
  .container{:style => "margin-top:60px;"}
    .row
      .span-4
        %img{:src => "/img/trololo.jpg"}
      .span-4
        %h2
          I am very glad,
          %br
          because I'm finally returning back home.
  %script{:text => "/js/bootstrap.js"}
